/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  background-color: rgb(37, 60, 60);
  width: 100%;
}

/*header*/
header{
  position:fixed;
  z-index: 10;
  width: 100%;
}

.header-container{
  height: 60px;
  background-color: rgb(240, 248, 255, 0.8);
  padding-left: 20px;
}

.header-left{
  width: 80%;
}

.header-logo{
  float: left;
  width: 450px;
  font-family: 'Iceberg', cursive;
  font-size: 20px;
}

.header-logo img{
  width: 50px;
  float: left;
  padding-top: 10px;
}

.header-logo h2{
  padding: 15px 0 0 10px;
  font-size: 30px;
}

/*dropdown menu*/
.menu {
  position: relative;
  width: 60%;
  height: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.menu > li {
  float: left;
  padding: 6px 30px 0 30px;
  height: 55px;
  line-height: 50px;
  list-style: none;
}

.menu > li a {
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.menu > li a:hover {
  color: rgb(227, 254, 255);
}

ul.menu__second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

ul.menu__third-level {
  visibility: hidden;
  opacity: 0;
}

ul.menu__fourth-level {
  visibility: hidden;
  opacity: 0;
}

.menu > li:hover {
  background: rgb(11, 207, 217);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu__third-level li {
  border-top: 1px solid #111;
}

.menu__second-level li a:hover {
  background: rgb(11, 207, 217);
}

.menu__third-level li a:hover {
  background: rgb(11, 207, 217);
}

.menu__fourth-level li a:hover {
  background:rgb(11, 207, 217);
}

/* 下矢印 */
.init-bottom:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.menu > li.menu__single {
  position: relative;
}

li.menu__single ul.menu__second-level {
  position: absolute;
  top: 55px;
  width: 100%;
  background: rgb(11, 207, 217);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
  top: 55px;
  visibility: visible;
  opacity: 1;
}
/* floatクリア */
.menu:before,
.menu:after {
  content: " ";
  display: table;
}

.menu:after {
  clear: both;
}

.menu {
  *zoom: 1;
}



.header-right{
  float: right;
  transform: translateY(-40px);
}

.header-right a{
  color:black;
  cursor: default;
  display: inline-block;
}

.header-right a:hover{
  color: rgb(11, 207, 217);
  transition: all 0.3s;
}

.header-right a {
  line-height: 60px;
  padding: 0 25px;
  display: block;
  float: right;
  border-left: 1px solid rgb(0, 0, 0);
}


header li{
  color: black;
}

header li:hover{
  color: rgb(212, 106, 0);
}


/*main contents*/
.main{
  transform: translateY(60px);
}

.container{
  margin: 0 auto;
  width: 1100px;
  padding: 30px 100px;
}

.btn-1{
  background-color: aliceblue;
  width: 200px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.btn-1:hover{
  background-color: rgb(204, 217, 228);
  transition: all 0.2s;
}

/*top*/
.top{
  padding-bottom: 50px;
}

.message{
  text-align: center;
  color: rgb(11, 207, 217);
  margin-top: 50px;
}

h1{
  font-size: 70px;
  font-family: 'Iceberg', cursive;
}

.top-logo{
  margin-top: 130px;
}

.message img{
  width: 500px;
}

.message h2{
  transform: translateY(-20px);
}

.video{
  text-align: center;
  margin-top: 100px;
}

/*introduction*/
.wrapper{
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
  color: aliceblue;
  padding: 0 150px;
  width:100%;
}

.introduction{
  background-color:  rgb(11, 207, 217);
  height: 800px;
}

.container-two{
  padding: 250px 0;
}

.container-two h2{
  font-size: 50px;
  font-family: 'Iceberg';
  margin-bottom: 10px;
}

.intro-text h2{
  float: right;
  margin-top:20px;
}

.intro-text p{
  float: right;
  width: 78%;
}

.intro-left{
  float: left;
  width: 50%;
}

.intro-right{
  float: right;
  width: 50%;
}

.intro-left .btn-1{
  float: right;
  margin: 10px 10px 0 0;
}

.intro-image{
  float: right;
  width: 50px;
}

.intro-right img{
  width: 400px;
  float: right;
  padding-right: 50px;
}

/*stages*/
.stages{
  clip-path: polygon(0 0, 100% 14%, 100% 100%, 0 86%);
  background-color:rgb(255, 251, 166);
  color:  rgb(11, 207, 217);
  height: 1200px;
  width:100%;
}

.vertical-intro{
  height: 250px;
}

.intro-imgs{
  margin-right: 50px;
}

.intro-imgs img{
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
  display: block;
  float: left;
}

.intro-text-right{
  margin-top:40px;
  width: 90%;
}

.intro-under{
  padding-top: 100px;
  text-align: center;
}

.photos{
  padding-top: 30px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo{
  float: left;
  width: 45%;
  text-align: center;
}

.photo img{
  width: 90%;
}

h3{
  font-size: 30px;
  margin-top: 10px;
}

/*kabayan*/
.kabayan{
  background-color:  rgb(11, 207, 217);
  height: 800px;
  width:100%;
}

.kabayan .intro-text p{
  float: right;
  width: 90%;
}

.kabayan img{
  width: 400px;
  float: right;
  transform: translateY(-120px);
}

/*finish*/

.comment{
  color:rgb(255, 58, 81);
}

.comment h1{
  margin-bottom: 10px;
}

/*footer*/
footer{
  background-color: rgb(240, 248, 255, 0.8);
  height: 250px;
  transform: translateY(60px);
}

.footer-left{
  width:70%;
  float: left;
}

.footer-logo{
  font-family: 'Iceberg', cursive;
  font-size: 45px;
  padding-top: 40px;
}

.footer-menu{
  padding-top: 25px;
  float: left;
}

.footer-menu li{
  float: left;
  margin-right:40px;
  font-size: 14px;
  list-style: none;
}

.footer-right{
  width: 30%;
  float: right;
}

.footer-right-container{
  float: right;
}

.sns-menu{
  margin-top: 75px;
}

.sns{
  float: right;
  padding-left: 20px;
}

.credit{
  margin-top:5px;
  float: right;
}

.credit p{
  font-size: 12px;
}


.fade {
  transition: all 2000ms;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 50px);
}

.fadein {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
} 
